body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

/*TOPNAVI*/
.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}

.header_logo {
  padding-left: 15px;
  padding-top: 18px;
  font-size: 35px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 3px;
}

.header_logo a {
  color: #6870AE;
}

.header_logo a span {
  font-size: 18px;
}

.header ul {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.header ul li {
  margin-left: 25px;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

.header ul li a {
  color: #6870AE;
}
/*アニメーション*/
.basic-4 {
  background: 
      linear-gradient(currentColor 0 0) 
      var(--p, 0) 100% /var(--d, 0) 3px 
      no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}
.basic-4:hover {
  --d: 100%;
  --p: 100%;
}

.price-contents_title {
  padding: 5px 0;
  height: 150px;
}

.price-contents_title h2 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  color: #6870AE;
}

.price-contents_description {
  background-color: #F2F5FB;
  text-align: center;
  margin-bottom: 50px;
}

.price-contents_description h2 {
  color: #6870AE;
  font-size: 25px;
  font-weight: normal;
  padding-top: 40px;
  line-height: 50px;
}

.price-contents_description_area {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.price-contents_description_area p {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  padding-top: 50px;
  line-height: 35px;
}

.price-contents_description_area img {
  padding-bottom: 50px;
}

.service-contents_container_title h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  line-height: 50px;
  color: #6870AE;
}


.price-list {
  width: 800px;
  margin: 100px auto;
}

.price-list .list {
  margin-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #666;
  padding-bottom: 8px;
}
 .price-list .list dl {
  line-height: 1;
 }

 .price-list dt {
  clear: both;
  float: left;
  padding: 5px 0 5px;
  width: 330px;
  font-weight: bold;
 }
 
.price-list dd {
  padding: 5px 0px 5px 300px;
  text-align: right;
}

.price-like_title h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 25px;
  font-weight: normal;
  color: #6870AE;
}


.baloon {
  position: relative;
  display: inline-block;
  width: 1000px; 
  height: 800px;
  text-align: center;
  padding: 25px;
  background-color: #FFF;
  border: #000 solid 4px;
  margin: 0 300px;
}

.baloon::before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #FFF transparent;
  border-width: 25px 25px 0 0;
  bottom: -16px;
  left: 50%;
  margin-left: -10px;
}

.baloon::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 0;
  border-style: solid;
  border-color: #000 transparent;
  border-width: 25px 25px  0 0;
  bottom: -25px;
  left: 50%;
  margin-left: -14px;
}



/*------------------------------------------------------
　　　　　　　　　＊ FOOTER＊
-------------------------------------------------------*/
footer{
  background: #F6F6F6;
}

footer p{
  text-align: center;
}
